.experience {
  background-color: #112D32;
  color: #88BDBC;
}

.entry {
  display: flex;
  text-align: left;
  font-size: 10px;
  margin: 15px 0;
}
.leftCol {
  width: 33.333%;
  padding-right: 10px;
}
.leftCol h3 {
  margin: 0;
}
.rightCol {
  width: 66.666%;
}