.sidebar {
  position: fixed;
  border-radius: 5px;
  top: 10vh;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.sidebar a {
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 15px 7px;
  text-decoration: none;
  display: block;
}