.skill {
  background-color: #88BDBC;
  color: #4F4A4E;
}

.button {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #6E6658;
  color: white;
  font-size: 10px;
  text-decoration: none;
}
.button:hover {
  background-color: #4F4A4E;
}

.columns {
  display: flex;
  text-align: left;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 30px;
}
.columns ul {
  list-style-type: none;
  padding: 0;
}
